<h1>Your amazing coach</h1>
<blockquote class="blockquote">
  <p><%= @question %></p>
  <footer class="blockquote-footer">You</footer>
</blockquote>
<blockquote class="blockquote">
  <p><%= @answer %></p>
  <footer class="blockquote-footer">Your coach</footer>
</blockquote>
<%= link_to "Ask a new question", ask_path %>
