<form action="/answer" class="form-inline">
  <div class="form-group">
    <input type="text" id="question" class="form-control" name="query" placeholder="Speak to your coach">
  </div>
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>
